<table class="table table-hover">
  <thead>
    <tr>
      <td><strong>Person Name</strong></td>
      <td><strong>Business Name</strong></td>
      <td><strong>GST Number</strong></td>
      <td colspan="2"><strong>Actions</strong></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let business of businesses">
      <td>{{ business.person_name }}</td>
      <td>{{ business.business_name }}</td>
      <td>{{ business.business_gst_number }}</td>
      <td><a [routerLink]="['edit/', business._id]" class="btn btn-primary">Edit</a></td>
      <td><a [routerLink]="" class="btn btn-danger" (click)="deleteBusiness(business._id)">Delete</a></td>

    </tr>
  </tbody>

</table>
